<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<style>
	#map{
		height: 600px;
		width: 100%;
	}
	</style>
	
	<script type="text/javascript" th:inline="javascript">
	let map;
	let markers = [];
	let searchArr = [];
	let searchIndex = 0;
	
	<!-- Add DB object Ids and coordinates to searchArr-->
	/*[# th:each="n : ${dist}"]*/
		searchArr.push(["[(${n.getId()})]",
						"[(${n.getLat1()})]",
						"[(${n.getLng1()})]",
						"[(${n.getLat2()})]",
						"[(${n.getLng2()})]"]);
	/*[/]*/
	
	<!-- Testing: view array contents
	//outer
	for(let o=0; o<searchArr.length;o++){
		//inner
		let innerLength = searchArr[o].length;
		for(let i=0; i<innerLength;i++){
			//if(searchArr[i]=='386')
			console.log("["+ o +"]["+ i +"]" + searchArr[o][i]);
		}
	} -->
	
<!--//creates map with desired traits and behaviors-->
	function initMap(){
	<!--//const tempCenter = {lat: 41.0630 , lng: -80.0412 }-->
			map = new google.maps.Map(document.getElementById("map"), {
			zoom: 7,
			center: {lat: 40.7033 , lng: -77.5945 },
			streetViewControl: false,		
		});
		<!--
		// set temporary marker at SRU coordinates
		//const marker = new google.maps.Marker({
			//label: "SRU",
			//position: tempCenter,
			//map: map,
		//});-->
		
	<!--//when map is clicked on, calls marker function-->
		map.addListener("click", (e) => {
		    placeMarker(e.latLng, map);
		   <!-- //applies lat/lng info to text area-->
		    document.getElementById("LatPos").textContent = e.latLng;
		});
		
		<!-- addPair(40.7220003, -80.1291846, 40.8641043, -79.8938038) -->
		
		let buttonArray = document.querySelectorAll('.markerClass');
		buttonArray.forEach(element => {
			let tempId = element.id;
			element.addEventListener('click', (e) =>{
				console.log('works at ' + element.id);
			});
			google.maps.event.addDomListener(document.getElementById(tempId), 'click', () =>{
			<!-- need to get my lat/long from db provided I have Id -->
					setIndexById(tempId);
					//console.log("Index is still: " + searchIndex);
					newPair(searchIndex);
					//newPair(40.7220003, -80.1291846, 40.8641043, -79.8938038);
				});
			
		});
		
		
	<!--//makes marker at the location and pans to it. sets to draggable, so we may adjust the position at will
	    //Also set to clickable to grab coordinates (should also be used for implementing delete/edit/etc.)-->
		function placeMarker(latLng, map) {
		  const marker = new google.maps.Marker({
		    position: latLng,
		    map: map,
		    draggable: true,
		    clickable: true,
		  });
		  
		  
		  <!--//make info window-->
			const infowindow = new google.maps.InfoWindow({
			content: infoContext,
		});
		
		<!--//add listener for on-click events-->
		  marker.addListener("click", (e) => {
			displayCoord(e.latLng);
			highlightMarker(marker);
	
			});
		
		<!--//double-click to open info window-->
		  marker.addListener("dblclick", (e) => {
				infowindow.open({
					  map: map,
				      anchor: marker,
				      shouldFocus: true,
				    });
				});
		  
		  
		  markers.push(marker);
		};
		
		function setIndexById(tId){
			let realId = String(tId.replaceAll("mark", ""));
			console.log("tId: " + tId + typeof(tId) + ", realId: " + realId + typeof(realID));
			//[object][0=Id, 1=Lat1, 2=Lng1, 3=Lat2, 4=Lng2]
			// this checks the id of each obj in array, compares the id, 
			// then sets index in previous scope to the match
			let i = 0;
			while(realId != searchArr[i][0]){
				//console.log("Iterated. Now at " + "["+ (i+1) +"]["+ 0 +"]");
				i++;
			}
			if(realId == searchArr[i][0]){
				searchIndex = i;
				//console.log("Found: " + searchArr[i][0] + " = " + realId + ", Index is: " + searchIndex);
			}
			else console.log("Error, no ID match");
		}
		
		function newPair(index){
			deleteMarkers();
			
			let lat1 = Number(searchArr[index][1]);
			let lng1 = Number(searchArr[index][2]);
			let lat2 = Number(searchArr[index][3]);
			let lng2 = Number(searchArr[index][4]);
			
			const add1 = new google.maps.LatLng(lat1, lng1);
			const add2 = new google.maps.LatLng(lat2, lng2);
			placeMarker(add1, map);
			placeMarker(add2, map);	
			
			markers[0].setLabel("Start");
			markers[1].setLabel("End");
			
			changeCenter();
			
		}
		
		function deleteMarkers(){
			for (let i = 0; i < markers.length; i++) {
			    markers[i].setMap(null);
			  }
			markers = [];
		}
		
		function changeCenter(){
			let centerLat = 0;
			let centerLng = 0;
			
			for (let i = 0; i < markers.length; i++) {
			    centerLat += markers[i].getPosition().lat();
			    centerLng += markers[i].getPosition().lng();
			  }
			
			centerLat = centerLat/2;
			centerLng = centerLng/2;
			const center = new google.maps.LatLng(centerLat, centerLng);
			map.setCenter(center);
		}
	
		

			
	};
	
	
	function displayCoord(latLng){
		document.getElementById("LatPos").textContent = latLng;
	}
	
<!--//Following functions are used to bounce a marker to indicate 
	//which is being viewed, and ends the animation on a timer -->
	
	function highlightMarker(marker){
	marker.setAnimation(google.maps.Animation.BOUNCE);
	setTimeout(stopHighlight, 2000, marker);
	}
	
	function stopHighlight(marker){
		marker.setAnimation(null);
	}
	<!------------------------------------------------------------------->
	
<!-- //Object using data from database to display within info windows
	 //Included: Address, Coordinates, Cluster
	 //Not yet added: add/edit/delete **MUST CONNECT TO DATA WITH THYMELEAF**-->
	const infoContext = 
		'<div id="context">' +
		'<h1 id="heading> Test Heading </h1>"' +
		'<h3 id="address"> Address </h3>' +
		'<p> Address goes here! </p>' +
		'<h3 id="coord"> Coordinates </h3>' +
		'<p> Lat/Lng goes here! </p>' +
		'<h3 id="cluster"> Cluster </h3>' +
		'<p> Cluster # goes here! </p>' +
		'</div>';
	
</script>


<meta charset="ISO-8859-1">
<title>Find Distance</title>
</head>


<body>
	<h1>Calculating Distance and Directions</h1>
	<hr color=black>
	
<div th:switch="${dist}">
	<h3>Please enter Origin and Destination</h3>
	<p><i>Please select "New Query" or view existing ones below</i></p>
		<div>
		<form action="/newsearch">
			<button type="submit">New Query</button>
		</form>
		
		<h2>Queries</h2>
            <table id="display" border=".5" bordercolor="#A9A9A9">
                <thead>
                	<!-- Headings for query table -->
                    <tr>
                    	<th>Id			 </th>
                        <th>Origin       </th>
                        <th>Destination  </th>
                        <th>Distance (mi)</th>
                        <th>Directions   </th>
                        <th>Delete		 </th>
                        <th>To Map </th>
                    </tr>
                </thead>
                <tbody>
                <!-- Shows data for each entity found in database -->
                <tr th:each="search : ${dist}">
                	<td th:text="${search.getId()}"></td>
                    <td th:text="${search.getOrigin()}"></td>
                    <td th:text="${search.getDestination()}"></td>
                    <td th:text="${search.getqDistance()}"></td>
                    <td><a th:href="@{/find-directions/{id}(id=${search.getId()})}">Directions</a></td>
                    <td><a th:href="@{/delete/{id}(id=${search.getId()})}">Delete</a></td>
                    <td><button th:id="'mark' + ${search.getId()}" class="markerClass" >Display</button></td>
                </tr>
            	</tbody>
       		</table>
        </div>
</div>
		<div>
        <h2>My Map</h2>
        <hr>
        <h3> Marker Coordinates: </h3> 
        <p id="LatPos">Coordinates will be shown here!</p>
        
        	<div id="map"></div>
        	
        	<script async
    		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD390VrMYSzUckUBYiWeXy2ZvVDrNtWUPg&callback=initMap">
			</script>
			<!-- Script containing methods for building dynamic map on page. Should be moved to its own .js file once issues are resolved or testing is complete -->

		</div>

	
</body>
</html>