<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<style>
	#map{
		height: 600px;
		width: 100%;
	}
	</style>
	
	<script th:inline="javascript">
	let map;
	let markers = [];
<!--//creates map with desired traits and behaviors-->
	function initMap(){
	<!--//const tempCenter = {lat: 41.0630 , lng: -80.0412 }-->
			map = new google.maps.Map(document.getElementById("map"), {
			zoom: 7,
			center: {lat: 40.7033 , lng: -77.5945 },
			streetViewControl: false,		
		});
		<!--
		// set temporary marker at SRU coordinates
		//const marker = new google.maps.Marker({
			//label: "SRU",
			//position: tempCenter,
			//map: map,
		//});-->
		
	<!--//when map is clicked on, calls marker function-->
		map.addListener("click", (e) => {
		    placeMarker(e.latLng, map);
		   <!-- //applies lat/lng info to text area-->
		    document.getElementById("LatPos").textContent = e.latLng;
		});
		
		<!-- addPair(40.7220003, -80.1291846, 40.8641043, -79.8938038) -->
		google.maps.event.addDomListener(document.getElementById("dispbutt"), 'click', () =>{
			newPair(40.7220003, -80.1291846, 40.8641043, -79.8938038);
		});
		
	<!--//makes marker at the location and pans to it. sets to draggable, so we may adjust the position at will
	    //Also set to clickable to grab coordinates (should also be used for implementing delete/edit/etc.)-->
		function placeMarker(latLng, map) {
		  const marker = new google.maps.Marker({
		    position: latLng,
		    map: map,
		    draggable: true,
		    clickable: true,
		  });
		  
		  
		  <!--//make info window-->
			const infowindow = new google.maps.InfoWindow({
			content: infoContext,
		});
		
		<!--//add listener for on-click events-->
		  marker.addListener("click", (e) => {
			displayCoord(e.latLng);
			highlightMarker(marker);
	
			});
		
		<!--//double-click to open info window-->
		  marker.addListener("dblclick", (e) => {
				infowindow.open({
					  map: map,
				      anchor: marker,
				      shouldFocus: true,
				    });
				});
		  
		  markers.push(marker);
		};
		
		function newPair(lat1, lng1, lat2, lng2){
			deleteMarkers();
			const add1 = new google.maps.LatLng(lat1, lng1);
			const add2 = new google.maps.LatLng(lat2, lng2);
			placeMarker(add1, map);
			placeMarker(add2, map);	
			
		}
		
		function deleteMarkers(){
			for (let i = 0; i < markers.length; i++) {
			    markers[i].setMap(null);
			  }
			markers = [];
		}
	
		

			
	};
	
	
	function displayCoord(latLng){
		document.getElementById("LatPos").textContent = latLng;
	}
	
<!--//Following functions are used to bounce a marker to indicate 
	//which is being viewed, and ends the animation on a timer -->
	
	function highlightMarker(marker){
	marker.setAnimation(google.maps.Animation.BOUNCE);
	setTimeout(stopHighlight, 2000, marker);
	}
	
	function stopHighlight(marker){
		marker.setAnimation(null);
	}
	<!------------------------------------------------------------------->
	
<!-- //Object using data from database to display within info windows
	 //Included: Address, Coordinates, Cluster
	 //Not yet added: add/edit/delete **MUST CONNECT TO DATA WITH THYMELEAF**-->
	const infoContext = 
		'<div id="context">' +
		'<h1 id="heading> Test Heading </h1>"' +
		'<h3 id="address"> Address </h3>' +
		'<p> Address goes here! </p>' +
		'<h3 id="coord"> Coordinates </h3>' +
		'<p> Lat/Lng goes here! </p>' +
		'<h3 id="cluster"> Cluster </h3>' +
		'<p> Cluster # goes here! </p>' +
		'</div>';
	
</script>


<meta charset="ISO-8859-1">
<title>Find Distance</title>
</head>


<body>
	<h1>Calculating Distance and Directions</h1>
	<hr color=black>
	
<div th:switch="${dist}">
	<h3>Please enter Origin and Destination</h3>
	<p><i>Please select "New Query" or view existing ones below</i></p>
		<div>
		<form action="/newsearch">
			<button type="submit">New Query</button>
		</form>
		
		<h2>Queries</h2>
            <table border=".5" bordercolor="#A9A9A9">
                <thead>
                	<!-- Headings for query table -->
                    <tr>
                        <th>Origin       </th>
                        <th>Destination  </th>
                        <th>Distance (mi)</th>
                        <th>Directions   </th>
                        <th>Delete		 </th>
                        <th>To Map </th>
                    </tr>
                </thead>
                <tbody>
                <!-- Shows data for each entity found in database -->
                <tr th:each="search : ${dist}">
                    <td th:text="${search.getOrigin()}"></td>
                    <td th:text="${search.getDestination()}"></td>
                    <td th:text="${search.getqDistance()}"></td>
                    <td><a th:href="@{/find-directions/{id}(id=${search.getId()})}">Directions</a></td>
                    <td><a th:href="@{/delete/{id}(id=${search.getId()})}">Delete</a></td>
                    <td><button id="dispbutt">Display</button></td>
                </tr>
            	</tbody>
       		</table>
        </div>
</div>
		<div>
        <h2>My Map</h2>
        <hr>
        <h3> Marker Coordinates: </h3> 
        <p id="LatPos">Coordinates will be shown here!</p>
        
        	<div id="map"></div>
        	
        	<script async
    		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD390VrMYSzUckUBYiWeXy2ZvVDrNtWUPg&callback=initMap">
			</script>
			<!-- Script containing methods for building dynamic map on page. Should be moved to its own .js file once issues are resolved or testing is complete -->

		</div>

	
</body>
</html>