<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Find Distance</title>
</head>
<body>
	<h1>Calculating Distance and Directions</h1>
	<hr color=black>
<div th:switch="${dist}">
	<h3>Please enter Origin and Destination</h3>
	<p><i>Please select "New Query" or view existing ones below</i></p>
		<div>
		<form action="/newsearch">
			<button type="submit">New Query</button>
		</form>
		<h2>Queries</h2>
            <table border=".5" bordercolor="#A9A9A9">
                <thead>
                    <tr>
                        <th>Origin       </th>
                        <th>Destination  </th>
                        <th>Distance     </th>
                        <th>Directions   </th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="search : ${dist}">
                    <td th:text="${search.getOrigin()}"></td>
                    <td th:text="${search.getDestination()}"></td>
                    <td th:text="${search.getqDistance()}"></td>
                    <td th:text="${search.getqDirections()}"></td>
                    <td><a th:href="@{/delete/{id}(id=${search.getId()})}">Delete</a></td>
                </tr>
            	</tbody>
       		</table>
       		
        </div>
</div>
	
</body>
</html>