<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>You know you want one!</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet"> 
	<style>
		.NAV_Table
	{ 
		border-spacing: 5px;
	}
		.NAV
	{
		height: 50px;
		width: 100%;
		background-color: #006747;
	}
	body
	{
		font-family: 'Fredoka One', cursive;
	}
	
	</style>
</head>
<body>
	<div class="NAV">

	<table class="NAV_Table">
		<tr>
			<th style="width:50px"></th>
			<th style="vertical-align: middle">|</th>
			<th style="margin:15px;vertical-align: middle"><form action="/distance-matrix"><button type="submit">Directions</button></form></th>
			<th style="vertical-align: middle">|</th>
			<th style="margin:15px;vertical-align: middle"><form action="/polyrouting"><button type="submit">Clustering</button></form></th>
			<th style="vertical-align: middle">|</th>
			<th style="margin:15px;vertical-align: middle"><button type="button">Routing</button></th>
			<th style="vertical-align: middle">|</th>
			<th style="margin:15px;vertical-align: middle"><form action="/logs"><button type="submit">Logs</button></form></th>
			<th style="vertical-align: middle">|</th>
			<th style="margin:15px;vertical-align: middle"><form action="/whychooseus"><button type="submit">Why Choose Us?</button></form></th>
			<th style="vertical-align: middle">|</th>
		</tr>
	</table>

</div>
	<div style="width: 100%; height: 100%;">
		<img src="/DistanceAndDirections/src/main/resources/templates/FinalImage.jpeg" alt="This may be your likeness!">
	</div>
	
</div>
	
</body>

</html>